* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #F5F5F5;
}
#header-t {
  width: 100%;
  height: 50px;
}
#header-t .logo {
  width: 60px;
  height: 50px;
  float: left;
}
#header-t .logo img {
  width: 100%;
  height: 100%;
}
#header-t .header-t-c {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#header-t .header-t-c .list-l {
  list-style: none;
  float: left;
  height: 100%;
  position: relative;
}
#header-t .header-t-c .list-l img {
  width: 233px;
  height: 124px;
  position: absolute;
  top: 39px;
  left: 300px;
  display: none;
  z-index: 4;
}
#header-t .header-t-c .list-l li {
  float: left;
  padding-right: 15px;
  color: #8d8d8d;
  line-height: 50px;
  cursor: pointer;
}
#header-t .header-t-c .list-l li:last-child {
  color: red;
}
#header-t .header-t-c .list-l li:last-child:hover img {
  display: block;
}
#header-t .header-t-c .list-l li:hover {
  color: red;
}
#header-t .header-t-c .icon1 {
  float: right;
  width: 20px;
  height: 100%;
  margin: auto 0;
  line-height: 50px;
}
#header-t .header-t-c .icon1 .icon-shouji {
  font-size: 20px;
}
#header-t .header-t-c .list-r {
  float: right;
  list-style: none;
  height: 100%;
  margin-right: 30px;
}
#header-t .header-t-c .list-r li {
  float: left;
  height: 100%;
  line-height: 50px;
}
#header-t .header-t-c .list-r li a {
  text-decoration: none;
  padding: 0 5px;
}
#header-t .header-t-c .list-r li .zhuce {
  border-right: 1px solid black;
}
#header-b {
  width: 100%;
  height: 70px;
  background: #e0e0e0;
  position: sticky !important;
  top: -1px !important;
  z-index: 3;
}
#header-b .header-b-c {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#header-b .header-b-c ul {
  height: 100%;
  list-style: none;
  float: left;
}
#header-b .header-b-c ul li {
  float: left;
  margin-right: 25px;
  line-height: 70px;
}
#header-b .header-b-c ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
#header-b .header-b-c .search {
  float: right;
  margin-top: 20px;
  position: relative;
}
#header-b .header-b-c .search form {
  outline: none;
}
#header-b .header-b-c .search input {
  width: 250px;
  height: 30px;
  background: #eaeaea;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}
#header-b .header-b-c .search .icon-search {
  font-size: 25px;
  position: absolute;
  top: 2px;
  right: 10px;
}
#nav {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #DADADA;
}
#nav .nav-c {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
}
#nav .nav-c p {
  line-height: 35px;
  font-size: 12px;
  float: left;
  color: #535353;
}
#nav .nav-c p a:hover {
  color: red;
}
#nav .nav-c p a {
  cursor: pointer;
  text-decoration: none;
}
#nav .nav-c div {
  float: right;
}
#nav .nav-c div img {
  width: 99px;
  height: 24px;
  margin-top: 5px;
}
.text {
  width: 80px;
  height: 80px;
  overflow: auto;
}
#main {
  width: 100%;
  background: white;
}
#main #mainn {
  width: 1200px;
  height: 665px;
  margin: 0 auto;
}
#main #mainn .main-l {
  width: 520px;
  height: 665px;
  float: left;
}
#main #mainn .main-l .bigtu {
  width: 520px;
  height: 520px;
  background: url(../../images/xiangqing/xq-b1.jpg);
}
#main #mainn .main-l .small {
  width: 525px;
  height: 90px;
  position: relative;
  margin-top: 20px;
}
#main #mainn .main-l .small .smalltu {
  width: 465px;
  height: 100%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}
#main #mainn .main-l .small .smalltu img {
  margin-right: 3px;
  border: 1px solid #ccc;
}
#main #mainn .main-l .small span {
  line-height: 84px;
  color: #A5A5A5;
  position: absolute;
  font-size: 22px;
}
#main #mainn .main-l .small span:first-of-type {
  left: 0;
}
#main #mainn .main-l .small span:last-of-type {
  right: 0;
}
#main #mainn .main-l article {
  width: 520px;
  height: 30px;
  margin-top: 5px;
}
#main #mainn .main-l article p {
  font-size: 13px;
  line-height: 30px;
}
#main #mainn .main-l article p:first-child {
  float: left;
  color: #B9A5A5;
}
#main #mainn .main-l article p:nth-child(2) {
  float: right;
  cursor: pointer;
}
#main #mainn .main-l article p:nth-child(2):hover {
  color: red;
}
#main #mainn .main-l article p:nth-child(2) span {
  font-size: 12px;
  color: red;
  margin-left: 3px;
}
#main #mainn .main-l article p:last-child {
  float: right;
  width: 70px;
  height: 30px;
  cursor: pointer;
  padding-left: 8px;
}
#main #mainn .main-l article p:last-child:hover {
  color: red;
}
#main #mainn .main-l article p:last-child span {
  font-size: 12px;
  color: red;
  margin-left: 3px;
}
#main #mainn .main-r {
  width: 650px;
  height: 665px;
  float: right;
}
#main #mainn .main-r h1 {
  margin-top: 34px;
  font-size: 22px;
  font-weight: normal;
}
#main #mainn .main-r .p1 {
  font-size: 14px;
  color: #A2A2A2;
  margin-top: 8px;
  margin-bottom: 20px;
  line-height: 22px;
}
#main #mainn .main-r .div1 {
  background: #F9F9F9;
}
#main #mainn .main-r .div1 .jiage {
  width: 100%;
  height: 38px;
  margin: 9px 0;
}
#main #mainn .main-r .div1 .jiage > p:first-child {
  font-size: 12px;
  color: #434242;
  line-height: 38px;
  float: left;
  margin-left: 10px;
}
#main #mainn .main-r .div1 .jiage > p:nth-child(2) {
  font-size: 20px;
  color: red;
  float: left;
  line-height: 38px;
  font-weight: 600;
  margin-left: 30px;
}
#main #mainn .main-r .div1 .jiage > p:nth-child(2) span {
  font-size: 12px;
}
#main #mainn .main-r .div1 .jiage > p:last-child {
  float: right;
  border-right: 1px solid #E0E0E0;
}
#main #mainn .main-r .div1 .jiage > p:last-child span {
  font-size: 12px;
  padding: 0 10px;
}
#main #mainn .main-r .div1 .jiage > p:last-child span:first-child {
  color: #A5A5A5;
}
#main #mainn .main-r .div1 .jiage > p:last-child span:last-child {
  color: #4A4A4A;
}
#main #mainn .main-r .zengzhi {
  width: 622px;
  height: 30px;
  margin: 15px 0 0 20px;
}
#main #mainn .main-r .zengzhi > p {
  float: left;
  font-size: 13px;
  color: #434242;
  line-height: 30px;
  vertical-align: middle ;
}
#main #mainn .main-r .zengzhi > p img {
  width: 86px;
  height: 22px;
  border-radius: 22px;
  vertical-align: middle;
  margin-right: 10px;
}
#main #mainn .main-r .zengzhi > p:first-child {
  margin-right: 30px;
}
#main #mainn .main-r .zengzhi > p:nth-child(2) {
  margin-right: 10px;
}
#main #mainn .main-r .caozuo {
  width: 622px;
  height: 25px;
  margin: 15px 0 0 20px;
  font-size: 13px;
}
#main #mainn .main-r .caozuo p {
  float: left;
  color: #434242;
}
#main #mainn .main-r .caozuo p:first-child {
  margin-right: 30px;
  line-height: 25px;
}
#main #mainn .main-r .caozuo p:last-child {
  width: 258px;
  height: 25px;
  border: 1px solid red;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  color: red;
}
#main #mainn .main-r .peizhi {
  width: 622px;
  height: 70px;
  margin: 15px 0 0 20px;
  font-size: 13px;
}
#main #mainn .main-r .peizhi article {
  float: left;
}
#main #mainn .main-r .peizhi article > p {
  float: left;
  color: #434242;
}
#main #mainn .main-r .peizhi div {
  width: 539px;
  height: 70px;
  float: right;
}
#main #mainn .main-r .peizhi div p {
  width: 258px;
  height: 25px;
  float: left;
  cursor: pointer;
  color: #aaa;
  border: 1px solid #aaa;
  text-align: center;
  line-height: 25px;
  margin-bottom: 10px;
}
#main #mainn .main-r .peizhi div p:hover {
  color: red;
  border-color: red;
}
#main #mainn .main-r .peizhi div p:nth-child(n) {
  margin-right: 5px;
}
#main #mainn .main-r .peizhi div p:last-child {
  color: red;
  border-color: red;
}
#main #mainn .main-r .fenqi {
  font-size: 13px;
  width: 622px;
  height: 30px;
  margin: 15px 0 0 20px;
  position: relative;
}
#main #mainn .main-r .fenqi > p {
  float: left;
  line-height: 30px;
}
#main #mainn .main-r .fenqi > div {
  float: left;
  width: 224px;
  height: 25px;
  border: 1px solid #aaa;
  padding: 2px;
  cursor: pointer;
}
#main #mainn .main-r .fenqi .huabei {
  position: absolute;
  left: 54px;
  margin-left: 30px;
  background: url("../../images/xiangqing/huabei1.png") no-repeat 2px 3px;
  background-size: 100%;
  overflow: hidden;
  z-index: 1;
}
#main #mainn .main-r .fenqi .huabei:hover {
  background: url("../../images/xiangqing/huabei2.png") no-repeat 2px 3px;
  background-color: white;
  background-size: 100%;
  height: 215px;
}
#main #mainn .main-r .fenqi .huabei .radio {
  margin-top: 30px;
  width: 50px;
  float: left;
}
#main #mainn .main-r .fenqi .huabei .radio input {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
}
#main #mainn .main-r .fenqi .huabei .radio input:nth-child(2) {
  margin-top: 50px;
}
#main #mainn .main-r .fenqi .huabei .radio input:last-child {
  margin-top: 50px;
}
#main #mainn .main-r .fenqi .huabei ul {
  float: left;
  margin-top: 30px;
  list-style: none;
  font-size: 13px;
  color: #aaa;
}
#main #mainn .main-r .fenqi .huabei ul li {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#main #mainn .main-r .fenqi .huabei ul li:hover {
  color: red;
}
#main #mainn .main-r .fenqi .baitiao {
  position: absolute;
  left: 315px;
  background: white;
  margin-left: 10px;
  background: url("../../images/xiangqing/baitiao1.png") no-repeat 2px 3px;
  background-size: 100%;
  overflow: hidden;
}
#main #mainn .main-r .fenqi .baitiao:hover {
  background: url("../../images/xiangqing/baitiao2.png") no-repeat 2px 3px;
  background-color: white;
  background-size: 100%;
  height: 215px;
}
#main #mainn .main-r .fenqi .baitiao .radio {
  margin-top: 30px;
  width: 50px;
  float: left;
}
#main #mainn .main-r .fenqi .baitiao .radio input {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
}
#main #mainn .main-r .fenqi .baitiao .radio input:nth-child(2) {
  margin-top: 50px;
}
#main #mainn .main-r .fenqi .baitiao .radio input:last-child {
  margin-top: 50px;
}
#main #mainn .main-r .fenqi .baitiao ul {
  float: left;
  margin-top: 30px;
  list-style: none;
  font-size: 13px;
  color: #aaa;
}
#main #mainn .main-r .fenqi .baitiao ul li {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#main #mainn .main-r .fenqi .baitiao ul li:hover {
  color: red;
}
#main #mainn .main-r .goumai {
  width: 622px;
  height: 26px;
  margin: 15px 0 0px 20px;
  font-size: 13px;
}
#main #mainn .main-r .goumai > p {
  float: left;
}
#main #mainn .main-r .goumai > div {
  float: left;
  color: #aaa;
  margin-left: 30px;
}
#main #mainn .main-r .goumai > div input {
  width: 50px;
  text-align: center;
  user-select: none;
}
#main #mainn .main-r .goumai > div span {
  line-height: 26px;
  color: black;
  user-select: none;
}
#main #mainn .main-r .gouwuche {
  width: 622px;
  height: 38px;
  margin: 15px 0 0px 20px;
}
#main #mainn .main-r .gouwuche div {
  cursor: pointer;
  user-select: none;
}
#main #mainn .main-r .gouwuche .liji {
  width: 132px;
  height: 38px;
  background: red;
  color: white;
  float: left;
  margin-left: 80px;
  text-align: center;
  line-height: 38px;
}
#main #mainn .main-r .gouwuche .jiaru {
  background: #FFEDED;
  color: red;
  float: left;
  margin-left: 15px;
  width: 132px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}
#main #mainn .main-r .gouwuche .jiaru a {
  color: red;
  text-decoration: none;
}
#main #mainn .main-r .p {
  width: 622px;
  height: 30px;
  margin: 15px 0 0px 20px;
  position: relative;
}
#main #mainn .main-r .p p {
  margin-left: 80px;
  font-size: 13px;
  line-height: 30px;
}
#main #mainn .main-r .p p span {
  color: #3E8DE4;
  text-decoration: underline;
  cursor: pointer;
}
#main #mainn .main-r .p p span img {
  width: 124px;
  height: 130px;
  position: absolute;
  left: 100px;
  top: 23px;
  display: none;
  z-index: 1;
}
#main #mainn .main-r .p p span:hover img {
  display: inline-block;
}
#main #mainn .main-r::-webkit-scrollbar {
  display: none;
}
#center-title {
  width: 100%;
  height: 51px;
  padding-top: 20px;
  background: white;
  margin-bottom: 20px;
}
#center-title p {
  width: 1200px;
  height: 51px;
  margin: 0 auto;
  font-size: 22px;
  color: #434242;
  font-weight: bold;
}
#tuijian {
  width: 1250px;
  height: 265px;
  margin: 0 auto;
  position: relative;
}
#tuijian > p {
  width: 20px;
  height: 60px;
  font-size: 20px;
  background: #EAEBEB;
  line-height: 60px;
  text-align: center;
}
#tuijian > p:first-child {
  position: absolute;
  left: 5px;
  top: 40%;
}
#tuijian > p:last-child {
  position: absolute;
  right: 5px;
  top: 40%;
}
#tuijian .p-c {
  width: 1200px;
  height: 265px;
  list-style: none;
  margin-left: 30px;
  overflow: hidden;
}
#tuijian .p-c li {
  float: left;
  width: 230px;
  height: 265px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: white;
  text-align: center;
  cursor: pointer;
}
#tuijian .p-c li img {
  width: 160px;
  height: 160px;
  margin-top: 3px;
}
#tuijian .p-c li p {
  margin-top: 5px;
}
#tuijian .p-c li P:nth-of-type(1) {
  color: #242424;
  font-weight: 600;
}
#tuijian .p-c li P:nth-of-type(2) {
  font-size: 12px;
  color: #858585;
}
#tuijian .p-c li P:nth-of-type(3) {
  font-size: 16px;
  color: #e2231a;
}
#tuijian .p-c li:hover {
  transition: box-shadow 0.3s linear;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#baixian {
  width: 100%;
  height: 5px;
  background: white;
  margin-top: 25px;
}
#center-d {
  width: 1200px;
  height: 52px;
  margin: 0 auto;
}
#center-d div {
  font-size: 22px;
  width: 630px;
  height: 52px;
  color: #4A4949;
  line-height: 52px;
  float: left;
}
#center-d ul {
  width: 550px;
  height: 52px;
  float: left;
  list-style: none;
}
#center-d ul li {
  padding-right: 40px;
  line-height: 52px;
  float: left;
  font-size: 14px;
  cursor: pointer;
}
#center-d ul li:hover {
  color: red;
}
#center-d ul li:first-child {
  color: red;
}
#center-d ul li:last-child {
  padding-right: 0;
  width: 100px;
  height: 32px;
  background: red;
  color: white;
  margin-top: 10px;
  line-height: 32px;
  text-align: center;
}
#xqtu {
  width: 100%;
  margin-top: -4px;
}
#xqtu img {
  width: 100%;
}
#footer2 {
  margin-top: -4px;
  width: 100%;
  height: 300px;
  background: white;
}
#footer2 .footer2-c {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#footer2 .footer2-c ul {
  width: 1124px;
  height: 160px;
  padding: 70px 0 70px 76px;
  list-style: none;
}
#footer2 .footer2-c ul li {
  width: 152px;
  float: left;
}
#footer2 .footer2-c ul li p {
  cursor: pointer;
}
#footer2 .footer2-c ul li > p {
  margin-bottom: 12px;
  font-size: 13px;
  color: #757575;
}
#footer2 .footer2-c ul li > P:first-child {
  color: #424242;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
}
#footer2 .footer2-c ul li div p:first-child {
  color: red;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
#footer2 .footer2-c ul li div P:nth-child(2) {
  font-size: 13px;
  color: #757575;
  margin-bottom: 6px;
}
#footer2 .footer2-c ul li div p:last-child {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  color: #aaa;
}
#footer2 .footer2-c ul li div p:last-child .icon-huiyuan4 {
  font-size: 20px;
}
#footer2 .footer2-c ul li div p:last-child:hover {
  color: black;
}
#footer2 .footer2-c ul li:last-child {
  padding-left: 40px;
  border-left: 1px solid #ccc;
}
#footer3 {
  width: 100%;
  height: 46px;
}
#footer3 img {
  width: 100%;
  height: 100%;
}
#fixedbox {
  width: 50px;
  height: 46  0px;
  position: fixed;
  background: white;
  right: 16px;
  top: 150px;
  padding: 10px 0;
  border-radius: 2px;
}
#fixedbox ul {
  width: 100%;
  height: 100%;
  list-style: none;
  text-align: center;
  padding-right: 5px;
}
#fixedbox ul li {
  cursor: pointer;
  border-bottom: 1px solid #efe;
}
#fixedbox ul li .iconfont {
  margin-top: 15px;
  font-size: 24px;
  color: #bbb;
}
#fixedbox ul li p {
  margin: 8px 0;
}
#fixedbox ul li:hover {
  color: #e2231a;
}
#fixedbox ul li:hover .iconfont {
  color: #e2231a;
}
