* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}
#header-t {
  width: 100%;
  height: 50px;
}
#header-t .logo {
  width: 120px;
  height: 50px;
  float: left;
}
#header-t .logo img {
  width: 100%;
  height: 100%;
}
#header-t .header-t-c {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#header-t .header-t-c .list-l {
  list-style: none;
  float: left;
  height: 100%;
  position: relative;
}
#header-t .header-t-c .list-l img {
  width: 233px;
  height: 124px;
  position: absolute;
  top: 39px;
  left: 300px;
  display: none;
  z-index: 2;
}
#header-t .header-t-c .list-l li {
  float: left;
  padding-right: 15px;
  color: #8d8d8d;
  line-height: 50px;
  cursor: pointer;
}
#header-t .header-t-c .list-l li:last-child {
  color: red;
}
#header-t .header-t-c .list-l li:last-child:hover img {
  display: block;
}
#header-t .header-t-c .list-l li:hover {
  color: red;
}
#header-t .header-t-c .icon1 {
  float: right;
  width: 20px;
  height: 100%;
  margin: auto 0;
  line-height: 50px;
}
#header-t .header-t-c .icon1 .icon-shouji {
  font-size: 20px;
}
#header-t .header-t-c .list-r {
  float: right;
  list-style: none;
  height: 100%;
  margin-right: 30px;
}
#header-t .header-t-c .list-r li {
  float: left;
  height: 100%;
  line-height: 50px;
}
#header-t .header-t-c .list-r li a {
  text-decoration: none;
  padding: 0 5px;
}
#header-t .header-t-c .list-r li .zhuce {
  border-right: 1px solid black;
}
#header-b {
  width: 100%;
  height: 70px;
  background: #e0e0e0;
}
#header-b .header-b-c {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#header-b .header-b-c ul {
  height: 100%;
  list-style: none;
  float: left;
}
#header-b .header-b-c ul li {
  float: left;
  margin-right: 25px;
  line-height: 70px;
}
#header-b .header-b-c ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
#header-b .header-b-c .search {
  float: right;
  margin-top: 20px;
  position: relative;
}
#header-b .header-b-c .search form {
  outline: none;
}
#header-b .header-b-c .search input {
  width: 250px;
  height: 30px;
  background: #eaeaea;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}
#header-b .header-b-c .search .icon-search {
  font-size: 25px;
  position: absolute;
  top: 2px;
  right: 10px;
}
.lunbotu {
  width: 100%;
  height: 480px;
  position: relative;
}
.lunbotu .swiper-slide img {
  width: 100%;
  height: 478px;
}
.lunbotu .swiper-container {
  --swiper-theme-color: #ff6600;
  /* 设置Swiper风格 */
  --swiper-navigation-color: white;
  /* 单独设置按钮颜色 */
  --swiper-navigation-size: 50px;
  /* 设置按钮大小 */
}
.lunbotu .swiper-container {
  --swiper-theme-color: #0000df;
}
.lunbotu .daohang {
  width: 1200px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 160px;
  overflow: hidden;
  z-index: 1;
}
.lunbotu .daohang .nav {
  width: 280px;
  height: 400px;
  list-style: none;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}
.lunbotu .daohang .nav .nav-li {
  border: 1px solid #e6e6e6;
  width: 214px;
  height: 55px;
  padding: 0 32px;
  line-height: 55px;
  font-weight: bold;
  color: #4b4b4b;
  cursor: pointer;
}
.lunbotu .daohang .nav .nav-li .icon-jiantou {
  float: right;
}
.lunbotu .daohang .nav .nav-li:hover {
  color: red;
}
.lunbotu .daohang .nav .nav-li:hover .nav-two {
  display: block;
}
.lunbotu .daohang .nav .nav-li .nav-two {
  color: black;
  font-size: 12px;
  position: absolute;
  width: 960px;
  height: 370px;
  background: white;
  left: 279px;
  top: 40px;
  padding: 15px;
  display: none;
}
.lunbotu .daohang .nav .nav-li .nav-two > ul {
  height: 20px;
  width: 600px;
  list-style: none;
  line-height: 20px;
  margin: 20px 0;
}
.lunbotu .daohang .nav .nav-li .nav-two > ul > li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #ddd;
  cursor: pointer;
}
.lunbotu .daohang .nav .nav-li .nav-two > ul > li .icon-jiantou {
  font-size: 14px;
}
.lunbotu .daohang .nav .nav-li .nav-two > ul > li:hover {
  color: red;
}
.lunbotu .daohang .nav .nav-li .nav-two > ul > li:last-of-type {
  border-right: 0px;
}
.lunbotu .daohang .nav .nav-li .nav-two > div {
  width: 240px;
  height: 130px;
}
.lunbotu .daohang .nav .nav-li .nav-two > div img {
  width: 100%;
  height: 100%;
}
.lunbotu .daohang .nav .nav-li .nav-two .tu1 {
  position: absolute;
  top: 20px;
  right: 86px;
}
.lunbotu .daohang .nav .nav-li .nav-two .tu2 {
  position: absolute;
  top: 160px;
  right: 86px;
}
#vip {
  width: 100%;
  height: 95px;
  margin-top: -3px;
  background: white;
}
#vip .vip-c {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#vip .vip-c ul {
  width: 100%;
  height: 100%;
  list-style: none;
}
#vip .vip-c ul li {
  float: left;
  height: 100%;
  width: 120px;
  cursor: pointer;
}
#vip .vip-c ul li p {
  text-align: center;
  margin-top: 15px;
}
#vip .vip-c ul li .iconfont {
  font-size: 25px;
}
#vip .vip-c ul li:hover {
  color: #ff3c00;
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 1px #ccc;
}
#miaosha {
  width: 1200px;
  height: 360px;
  background: skyblue;
  margin: 0 auto;
  margin-top: 20px;
}
#miaosha .ms {
  width: 230px;
  height: 100%;
  float: left;
}
#miaosha .ms img {
  width: 100%;
  height: 100%;
}
#miaosha .div-t {
  width: 896px;
  height: 66px;
  border-bottom: 1px solid #ccc;
}
#miaosha .div-t > div {
  margin: 20px;
  width: 164px;
  height: 25px;
  float: left;
  border-radius: 12px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
#miaosha .div-t .div-t-1 {
  background: linear-gradient(to right, #EE1C0F, #FE7C01);
  color: white;
}
#miaosha .div-b {
  float: left;
  width: 896px;
  height: 295px;
  background: orange;
}
