*{
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
    background:#F5F5F5;
}
///////////////头部上
#header-t{
    width:100%;
    height: 50px;
    .logo{
        width: 120px;
        height: 50px;
        float:left;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .header-t-c{
        width: 1200px;
        height: 100%;
        margin:0 auto;
        // background:skyblue;
        .list-l{
            list-style:none;
            float:left;
            height:100%;
            position:relative;
            img{
                width: 233px;
                height: 124px;
                position:absolute;
                top:39px;
                left:300px;
                display: none;
                z-index: 2;
            }
            li{
                float:left;
                padding-right:15px;
                color:#8d8d8d;
                line-height:50px;
                cursor:pointer;
                &:last-child{
                    color:red;
                   &:hover img{
                       display:block;
                   }
                }
                &:hover{
                    color:red;
                }
            }
            
        }
        .icon1{
            float:right;
            width: 20px;
            height: 100%;
            margin:auto 0;
            line-height:50px;
            .icon-shouji{
                font-size:20px;
            }
        }
        .list-r{
            float:right;
            list-style:none;
            height:100%;
            margin-right:30px;
            li{
                float:left;
                height:100%;
                line-height:50px;
               a{
                   text-decoration:none;
                   padding:0 5px;
               }
               .zhuce{
                   border-right:1px solid black;
               }
            }
        }
    }
}
//////////////头部下
#header-b{
    width:100%;
    height: 70px;
    background:#e0e0e0;
    .header-b-c{
        width: 1200px;
        height: 100%;
        margin:0 auto;
        ul{
            height:100%;
            list-style:none;
            float:left;
            li{
                float:left;
                margin-right:25px;
                line-height:70px;
                a{
                    text-decoration:none;
                    font-size:16px;
                    font-weight:bold;
                    color:black;
                    cursor:pointer;
                }
            }
        }
        .search{
            float:right;
            margin-top:20px;
            position:relative;
            form{
                outline:none;
            }
            input{                
            width: 250px;
            height: 30px;
            background:#eaeaea;
            border:1px solid black;
            border-radius:20px;
            outline:none;
            }
            .icon-search{
                font-size:25px;
                position:absolute;
                top:2px;
                right:10px;
            }
        }
    }    
}
///////////////////导航轮播图
.lunbotu{
    width: 100%;
    height: 480px;
    position: relative;
    // background:url("../../images/无标题.png");
    // background-size:100%;
    .swiper-slide{
        img{
            width: 100%;
            height: 478px;
        }
    }
    .swiper-container{
        --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
        --swiper-navigation-color: white;/* 单独设置按钮颜色 */
        --swiper-navigation-size: 50px;/* 设置按钮大小 */
      };
      .swiper-container{
        --swiper-theme-color: rgb(0, 0, 223);
      }
    .daohang{
        width: 1200px;
        height:480px;
        position: absolute;
        top:0;
        left:160px;
        overflow:hidden;
        z-index: 1;

        .nav{
            width: 280px;
            height: 400px;
            list-style:none;
            background:rgba(255,255,255,0.8);
            margin-top:40px;
            .nav-li{
                border:1px solid #e6e6e6;
                width:214px;
                height: 55px;
                padding:0 32px;
                line-height:55px;
                font-weight: bold;
                color:#4b4b4b;
                cursor:pointer;
                .icon-jiantou{
                    float:right;
                }
                &:hover{
                    color:red;
                    & .nav-two{
                        display:block;
                    }
                }
                .nav-two{
                    color:black;
                    font-size:12px;
                    position: absolute;
                    width: 960px;
                    height: 370px;
                    background:white;
                    left:279px;
                    top:40px;
                    padding:15px;
                    display: none;
                    >ul{
                        height:20px;
                        width: 600px;
                        list-style:none;
                        line-height:20px;
                        margin:20px 0;
                        >li{
                            float:left;
                            padding:0 10px;
                            border-right:1px solid #ddd;
                            cursor:pointer;
                            .icon-jiantou{
                                font-size:14px;
                            }
                            &:hover{
                                color:red;
                            }
                            &:last-of-type{
                                border-right:0px;
                            }
                        }
                    }
                    >div{
                        width: 240px;
                        height: 130px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .tu1{
                        position: absolute;
                        top:20px;
                        right:86px;
                    }
                    .tu2{
                        position: absolute;
                        top:160px;
                        right:86px;
                    }
                    

                }
            }
        }
    }
}
// ///////////////////////////////////////////会员福利
#vip{
    width: 100%;
    height: 95px;
    margin-top:-3px;
    background:white;
    .vip-c{
        width: 1200px;
        height: 100%;
        margin:0 auto;
        ul{
            width: 100%;
            height: 100%;
            list-style:none;
            li{
                float:left;
                height: 100%;
                width:120px;
                cursor:pointer;
                p{
                    text-align:center;
                    margin-top:15px;
                }
                .iconfont{
                    font-size:25px;
                }
                &:hover{
                    color:rgb(255, 60, 0);
                    transition:0.3s;
                    transform:scale(1.1);
                    box-shadow:0px 0px 5px 1px #ccc;
                }
            }
        }
    }
}
///////////////////////////////////////////秒杀
#miaosha{
    width: 1200px;
    height: 360px;
    background:skyblue;
    margin:0 auto;
    margin-top:20px;

    .ms{
        width: 230px;
        height: 100%;
        float:left;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .div-t{
        width: 896px;
        height: 66px;
        border-bottom:1px solid #ccc;
        >div{
            margin:20px;
            width: 164px;
            height: 25px;
            float:left;
            border-radius:12px;
            text-align:center;
            line-height:25px;
            font-weight: bold;
        }
        .div-t-1{
            background:linear-gradient(to right,#EE1C0F,#FE7C01);
            color:white;
        }
    }
    .div-b{
        float:left;
        width: 896px;
        height: 295px;
        background:orange;
    }
}